.super-mario {
    width: 200px;
    position: absolute;
    top: 160px;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 232px;
  }
  
  .baloon {
    position: absolute;
    top: 160px;
    left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 315px;
    z-index: 1;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 550px;
  }